extends layout

block content
  table.table.table-striped(style='width:700px')(align='center')
    thead
      tr
        th First Name
        th Last Name
        th Designation
    tbody
      each value in data
        tr
          td=value.FirstName
          td=value.LastName
          td=value.Designation