body {
    /*padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;*/
    background: aqua;
}

/*a {
    color: #00B7FF;
}*/


.WelcomeView {
    background: url("../images/food.jpg") left bottom;
    background-size: cover;
}

.UserView {
    background: url("https://cdn.auth0.com/blog/whatabyte/patio.png") left bottom;
    background-size: cover;
}